    <%- include('./_partials/header.ejs') %> 
    
    <%- include('./_partials/nav.ejs')%>

    <div class="not-found content">
      <p>Oops, page not found</p>
    </div>
    
  <%- include('./_partials/footer.ejs') %>
