    <%- include('./_partials/header.ejs') %> 
    
    <%- include('./_partials/nav.ejs')%>

    <div class="about content">
      <h2>All Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit beatae
        enim possimus velit, aspernatur quisquam cupiditate totam ab aut
        sapiente dolorum, officiis reprehenderit accusamus, omnis accusantium!
        Optio repellendus obcaecati tenetur.0
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit beatae
        enim possimus velit, aspernatur quisquam cupiditate totam ab aut
        sapiente dolorum, officiis reprehenderit accusamus, omnis accusantium!
        Optio repellendus obcaecati tenetur.0
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit beatae
        enim possimus velit, aspernatur quisquam cupiditate totam ab aut
        sapiente dolorum, officiis reprehenderit accusamus, omnis accusantium!
        Optio repellendus obcaecati tenetur.0
      </p>
    </div>

  <%- include('./_partials/footer.ejs') %>
